{% extends "layout.html" %}
{% block body %}
{% load staticfiles %}
<h2 style="background-color:#00476B; color:white"> <center> Protein features prediction for: {{ task_id }} </center> </h2>

<script>
window.setTimeout("document.location.reload();", 5000);
</script> 

<p>This page will be redirected to <a href="http://schistotarget.bioapps.org/feature_results/{{ task_id }}"><u>http://schistotarget.bioapps.org/feature_results/{{ task_id }}</u></a> when finished.</p>
<p>You can save this link to access the result. You can close the window if you don't want to wait and access the result when finished. The result page link will be also sent by email (if provided). Please check in email spam folder as well.</p>

<br></br>
<div class=disclaimer>
 <center> 

<br></br><br></br>
 <img src="{% static 'images/spinner.gif' %}" alt="processing" width="80"></center> 
 <br></br>
</div>

{{ features_list }}

{% endblock %}
