{% extends "layout.html" %}
{% block body %}

<center><font size="20" color="yellow">{{ message }}</font></center>

<div class="col-xs-12 col-sm-5 col-sm-offset-4">
<div class="call-action call-action-boxed call-action-style1 glass" style="centre">
<font color="#00476B" face="Copperplate Gothic Light" size="5"> <strong> <div class="accent-color"> Immunoreactivity Prediction </div> </strong> </font>

<form name='immunoForm' id='immunoForm' method='post' action='immuno_predict' enctype="multipart/form-data"> {% csrf_token %} <!-- action is the URL you want to move to next-->
       <p> Select features selection mode <i class="fa fa-info-circle fa-lg" title="More Conservation mode uses the features differentially distributed between 2 classes based on t-test. Less Conservation
mode uses all available 482 features."></i></p>
	<div class="onoffswitch">
		<input type="checkbox" name="featureMode" class="onoffswitch-checkbox" id="featureMode" checked>
		<label class="onoffswitch-label" for="featureMode">
			<span class="onoffswitch-inner"></span>
			<span class="onoffswitch-switch"></span>
		</label>
	</div>
    <p>
   Enter FASTA sequence(s)
   <textarea type='text' name='input_sequences' id="input_sequences" placeholder="FASTA sequence(s)" class="form-control" rows="12" style="min-width: 100%"> </textarea> 
   </p>
   <p> 
   Or, Upload FASTA File
   <input type='file' name='input_file'> 
   </p>
   <p>To get the result please enter your email address (optional): <input type="email" name="input_email" placeholder="yourname@example.com"></p>
   <p>To load example sequences, <a href="#" id='input_load_example'>click here!</a></p>
   <input type="reset" value="Reset" class="btn-primary" />
   <p>
   <br> </br> 
   <input type='submit' value='Submit' class="pull-right" /> <!-- value is the text that will appear on the button. -->
   <br> </br>
   </p>
</form>
</div>
</div>

<!-- here comes the javascript -->
<script type="text/javascript">
document.getElementById("input_load_example").onclick = function() {
document.immunoForm.input_sequences.value =
'>gi|121698|sp|P15964.1|GST26_SCHMA\n'
+'MAPKFGYWKVKGLVQPTRLLLEHLEETYEERAYDRNEIDAWSNDKFKLGLEFPNLPYYIDGDFKLTQSMAIIRYIADKHNMLGACPKERAEISMLEGAVLDIRMGVLRIAYNKEYETLKVDFLNKLPGRLKMFEDRLSNKTYLNGNCVTHPDFMLYDALDVVLYMDSQCLNEFPKLVSFKKCIEDLPQIKNYLNSSRYIKWPLQGWDATFGGGDTPPK\n'
+'>gi|13021614|gb|AAK11492.1|U57714_1\n'
+'MSPSLVSDTQKHERGSHEVKIKHFSPYIAVCVTTFSLAFCCFMVHAAITRQPTHLLPFFFIQVFDLIICLIHILGFMSSTSDIRLVIHTKTGPIYIKSTGLTFIILSISCMMLAFKAYCLGMVWDCYKYLMLNRRGNLLDDWYSDQWGHLSTFWSLLRTGRNRGNNSIGNSGSPNEPNTRPRPDTITYDPANDLPKYEDILKIRNAYAPPPYYCSNTNGNVNTTTTDAVTTNTTITSATTANATTTITTNANTNTSTTTSVISPLTTTNKDDTQINNASSNAHSSC\n'
+'>gi|108861845|gb|ABG21824.1|\n'
+'MVDSSIFDEIPEEISAQLVSFSEATDDVEQLVNKISNFSNDSNTEVSDLDAIKTDLSLCYAFNALFFMYLRCNGVETQSHPIMQELDRVMNALKRCRSLVEKEGSARLKLDKEATTRFVKHALWKSAHTKTKKRRMDSST\n'
+'>gi|10953803|gb|AAG25601.1|AF297469_1\n'
+'GRGKGGKGLGKGGAKRHRKVLRDNIQGITKPAIRRLARRGGVKRISGLIYEETRGVLKVFLENVIRDAVTYTEHAKRKTVTAMDVVYALKRQGRTLYG'
;
}
</script>

{% endblock %}

